*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}    

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url(../css/1.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style: none;
    margin-top: 25px;

}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: black;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 100px;
    height: auto;
    position: absolute;
    top: 0%;
    left: 0%;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: antiquewhite;
    font-size: 100px;
    padding: auto;
    border: 1px;
}

.title h3{
    color: #fff;
    font-size: 20px;
    padding: auto;
    border: 1px;
}
.button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
}

.btn:hover{
    background-color: #fff;
    color: black;
}